<div>
    <h1>¡Bienvenido a nuestro sitio!</h1>
    <p>
        Para registrarse, por favor complete la siguiente información:
    </p>
    <ul>
        <li>Nombre</li>
        <li>Apellido</li>
        <li>correo electronico</li>
        <li>contrasena</li>
    </ul>
    <br>
    <form id="register">
        <label for="firstName">
            Nombre
        </label>
        <br>
        <input id="firstName" type="text" name="first_name">
        <br>
        <br>
        <label for="lastName">
            Apellido
        </label>
        <br>
        <input type="text" id="lastName" name="last_name">
        <br>
        <br>
        <label for="age">
            Edad
        </label>
        <br>
        <input type="text" id="age" name="age">
        <br>
        <br>
        <label for="email">
            Correo electronico
        </label>
        <br>
        <input type="email" id="email" name="email">
        <br>
        <br>
        <label for="password">
            Contrasena
        </label>
        <br>
        <input type="password" id="password" name="password">
        <br>
        <br>
        <br>
        <input type="submit" value="Registrarse">
    </form>
    <p>Si ya posee una cuenta: <a href="/login">Ingrese aqui</a></p>
</div>

<script src="/js/register.js"  type="text/javascript"></script>